@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pages">
    <h2>
        Pages</h2>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", null, new { id = "page1" })</li>
        <li>@Html.ActionLink("Встать в очередь", "GetInLine", null, new { id = "page2" })</li>
        <li>@Html.ActionLink("Дети в очереди", "Details", null, new { id = "page3" })</li>
        <li>@Html.ActionLink("Вопросы и ответы", "FAQ", null, new { id = "page4" })</li>
        <li><a id="page5"></a></li>
    </ul>
</div>
<div id="content">
    <div id="colOne">
        <div id="latest-post">
            <h2 class="title">
                Данные были изменены
            </h2>
            @Html.ActionLink("Вернуться на главную", "Index")
        </div>
    </div>
</div>
