@using Diploma.Models
@{
    ViewBag.Title = "Дети в очереди";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pages">
    <h2>
        Pages</h2>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", null, new { id = "page1" })</li>
        <li>@Html.ActionLink("Встать в очередь", "GetInLine", null, new { id = "page2" })</li>
        <li class="active">@Html.ActionLink("Дети в очереди", "Details", null, new { id = "page3" })</li>
        <li>@Html.ActionLink("Вопросы и ответы", "FAQ", null, new { id = "page4" })</li>
        <li><a id="page5"></a></li>
    </ul>
</div>
@if (Request.IsAuthenticated)
{
    <div id="content">
        <div id="colOne">
            <div id="latest-post">
                <h2 class="title">
                    Дети в очереди</h2>
                <div id="details">
                    <ul>
                        @{var users = GetUser.GetUsersByAuth(Account.GetName(User.Identity.Name).id);
                          foreach (var l in users)
                          {
                              <li style="list-style-type: none;"><strong><a href="Edit/@l.id">@l.first_name @l.last_name</a></strong> <small><a href="Delete/@l.id" onclick="return confirm('Вы уверены, что хотите удалить запись @l.first_name @l.last_name из очереди?');">Удалить</a></small><br />
                                  @{ var num = GetUser.GetNumberInLine(l.id); }
                                  <small>В очереди на @num месте</small><br />
                                  <small>Серия документа: @l.series_doc, Номер документа: @l.number_doc</small><br />
                                  <small>Год зачисления: @l.year_enter</small><br /></li>
                          }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="content">
        <div id="colOne">
            <div id="latest-post">
                <p>
                    Для просмотра детей в очереди Вам необходимо @Html.ActionLink("Войти", "LogOn", "Account")
                    в свой аккаунт.</p>
                <br />
                <p>
                    Чтобы начать пользоваться системой @Html.ActionLink("зарегистрируйтесь", "Register", "Account").</p>
            </div>
        </div>
    </div>
}
