@{
    ViewBag.Title = "Вопросы и ответы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pages">
    <h2>
        Pages</h2>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", null, new { id = "page1" })</li>
        <li>@Html.ActionLink("Встать в очередь", "GetInLine", null, new { id = "page2" })</li>
        <li>@Html.ActionLink("Дети в очереди", "Details", null, new { id = "page3" })</li>
        <li class="active">@Html.ActionLink("Вопросы и ответы", "FAQ", null, new { id = "page4" })</li>
        @Html.Partial("_AdminPartial")
    </ul>
</div>
<div id="content">
    <div id="colOne">
        <h2 class="title">
            Вопросы и ответы</h2>
        <legend>1. Как узнать место в очереди в детский сад?</legend>
        <p>
            Проверить положение Вашего ребёнка в очереди в ДОУ можно на главной странице сайта,
            либо на странице "Дети в очереди", где даются более полные данные о зарегистрированных
            детях.</p>
        <legend>2. Как формируется очередь и что означает место в очередности?</legend>
        <p>
            Очередь формируется по дате подачи заявления на сайте. Для каждой возрастной группы
            зачисление идёт отдельно, поэтому находясь не на первом месте в очереди Ваш ребёнок
            можете раньше попасть в ДОУ, при наличии соответствующего количества мест в данную
            возрастную группу.</p>
        <legend>3. Как и когда происходит распределение в детские сады?</legend>
        <p>
            Распределение происходит один раз в год. Кроме этого распределение может быть инициировано
            в течение года в отошении тех заявителей, которые дали согласие на зачисление в
            ДОУ в течение года.
            <br />
            Алгоритм распределения следующий: Изначально выбираются из списка те заявления,
            у которых дата зачисления установлена текущим годом, затем для каждой возрастной
            категории формируется своя очередь с учётом приоритета льгот. В конце происходит
            распределение по ДОУ согласно предпочтениям.</p>
        <legend>4. Можно ли выбрать несколько ДОУ?</legend>
        <p>
            Да, Вы можете выбрать несколько приоритетных и дополнительных ДОУ. При этом Ваш
            ребёнок может попасть в любой из указанных при подаче заявления, при отсутствии
            мест в приоритетных ДОУ и наличии мест в дополнительных соответственно.</p>
        <legend>5. Какие льготы существуют?</legend>
        <p>
            <ul>
                <li>Дети сироты, дети оставшиеся без попечения родителей</li>
                <li>Дети, чьи родители являются лицами из числа детей сирот или детей оставшиеся без
                    попечения родителей</li>
                <li>Дети судей</li>
                <li>Дети прокуроров и сотрудников Следственного комитета</li>
                <li>Дети граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской
                    АЭС</li>
                <li>Дети из многодетных семей</li>
                <li>Дети инвалиды и дети, один из родителей которого является инвалидом</li>
                <li>Дети военнослужащих, проходящих военную службу по контракту или по призыву, по месту
                    жительства их семей</li>
                <li>Дети сотрудников полиции</li>
                <li>Дети сотрудников полиции погибших (умерших) в связи с осуществлением служебной деятельности
                    либо умерших...</li>
                <li>Дети одиноких матерей</li>
                <li>Дети работников ДОУ</li>
                <li>Дети, находящиеся в трудной жизненной ситуации</li>
            </ul>
        </p>
    </div>
</div>
