@using Diploma.Models
@model Diploma.Models.Users
@{
    ViewBag.Title = "Встать в очередь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script language="javascript" type="text/javascript">

    $(function () {
        //Заполнение dropdownlist улицы по району
        $("#adr_district").change(function () {

            $.post('/Home/GetStreetsForDistrict/' + $(this).val(), function (response) {

                var streets = $.parseJSON(response);
                var ddladr_street = $("#adr_street");

                // clear all previous options 
                $("#adr_street > option").remove();

                // populate the products 
                for (k = 0; k < streets.length; k++) {
                    ddladr_street.append($("<option />").val(streets[k].Value).text(streets[k].Text));
                }
            });
        });
    });
</script>
<script language="javascript" type="text/javascript">
    //Заполнение dropdownlist номера дома по улице
    $(function () {
        $("#adr_street").change(function () {

            $.post('/Home/GetHousesForStreet/' + $(this).val(), function (response) {

                var houses = $.parseJSON(response);
                var ddladr_house = $("#adr_house");

                // clear all previous options 
                $("#adr_house > option").remove();

                // populate the products 
                for (k = 0; k < houses.length; k++) {
                    ddladr_house.append($("<option />").val(houses[k].Value).text(houses[k].Text));
                }
            });
        });
    });
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        //Заполнение dropdownlist год поступление по дате рождения
        $("#datepicker1").change(function () {
            var startDate = new Date($("#datepicker1").datepicker().val());
            var selectedYear = startDate.getFullYear();
            $.post('/Home/GetYearForBirth/' + selectedYear, function (response) {

                var years = $.parseJSON(response);
                var ddlyear = $("#year_enter");

                // clear all previous options 
                $("#year_enter > option").remove();

                // populate the products 
                for (k = 0; k < years.length; k++) {
                    ddlyear.append($("<option />").val(years[k].Value).text(years[k].Text));
                }
            });
        });
    });
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        //Заполнение dropdownlist главных ДОУ по району
        $("#dou_district").change(function () {

            $.post('/Home/GetMainDouForDistricts/' + $(this).val(), function (response) {

                var maindou = $.parseJSON(response);
                var ddlmain_dou = $("#main_dou");

                // clear all previous options 
                $("#main_dou > option").remove();

                // populate the products 
                for (k = 0; k < maindou.length; k++) {
                    ddlmain_dou.append($("<option />").val(maindou[k].Value).text(maindou[k].Text));
                }
                $("#main").show();
            });
        });
    });
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        //Заполнение dropdownlist дополнительных ДОУ по району
        $("#dou_district2").change(function () {

            $.post('/Home/GetAnotherDouForDistricts/' + $(this).val(), function (response) {
                var anotherdou = $.parseJSON(response);
                var ddlanother_dou = $("#another_dou");

                // clear all previous options 
                $("#another_dou > option").remove();

                // populate the products 
                for (k = 0; k < anotherdou.length; k++) {
                    ddlanother_dou.append($("<option />").val(anotherdou[k].Value).text(anotherdou[k].Text));
                }
                $("#another").show();
            });
        });
    });
</script>
<script language="javascript" type="text/javascript">
    $(function () {
        //Проверка даты выдачи свидетельства о рождении
        $("#datapicker2").change(function () {
            alert($("#datapicker1").datepicker().val());
            alert($("#datapicker2").datepicker().val());
            /*if ($("#datapicker1").datepicker().val() > $("#datapicker2").datepicker().val()) {
                alert("Дата выдачи документа не может быть раньше даты рождения!");
            };*/
        });
    });
</script>
<div id="pages">
    <h2>
        Pages</h2>
    <ul>
        <li>@Html.ActionLink("Главная страница", "Index", null, new { id = "page1" })</li>
        <li class="active">@Html.ActionLink("Встать в очередь", "GetInLine", null, new { id = "page2" })</li>
        <li>@Html.ActionLink("Дети в очереди", "Details", null, new { id = "page3" })</li>
        <li>@Html.ActionLink("Вопросы и ответы", "FAQ", null, new { id = "page4" })</li>
        <li><a id="page5"></a></li>
    </ul>
</div>
<div id="content">
    <div id="colOne">
        <div id="latest-post">
            @if (Request.IsAuthenticated)
            {
                <h2 class="title">
                    Встать в очередь</h2>
                using (Html.BeginForm("GetInLine", "Home", FormMethod.Post, new { id = "form" }))
                {
                @Html.ValidationSummary(true, "Регистрация в очереди не удалась. Проверьте вводимые данные.");
                <ul id="lines">
                    <li>
                        <div>
                            <!--id="getinline">-->
                            <fieldset id="step1" name="step1">
                                <legend>Информация о ребёнке:</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.second_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.second_name)
                                    @Html.ValidationMessageFor(u => u.second_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.first_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.first_name)
                                    @Html.ValidationMessageFor(u => u.first_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.third_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.third_name)
                                    @Html.ValidationMessageFor(u => u.third_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.date_birth)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.date_birth, new { @id = "datepicker1" })
                                    @Html.ValidationMessageFor(u => u.date_birth)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.sex)
                                </div>
                                <div class="editor-field">
                                    М @Html.RadioButtonFor(u => u.sex, true)
                                    Ж @Html.RadioButtonFor(u => u.sex, false)
                                    @Html.ValidationMessageFor(u => u.sex)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.type_doc)
                                </div>
                                <div class="editor-field">
                                    @{var list = new List<SelectListItem>();
                                      list.Insert(0, new SelectListItem() { Text = "Свидетельство о рождении", Value = "Свидетельство о рождении" });
                                      list.Insert(1, new SelectListItem() { Text = "Иной", Value = "Иной" });
                                    }
                                    @Html.DropDownListFor(u => u.type_doc, list)
                                    @Html.ValidationMessageFor(u => u.type_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.series_doc)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.series_doc)
                                    @Html.ValidationMessageFor(u => u.series_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.number_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.TextBoxFor(u => u.number_doc)
                                    @Html.ValidationMessageFor(u => u.number_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.date_issue)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.date_issue, new { @id = "datepicker2" })
                                    @Html.ValidationMessageFor(u => u.date_issue)
                                </div>
                                <br />
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div>
                            <!--id="getinline">-->
                            <!--АДРЕС ПРОЖИВАНИЯ-->
                            <fieldset id="step2" name="step2">
                                <legend>Адрес проживания ребёнка:</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.adr_district)
                                </div>
                                <div class="editor-field">
                                    @{ var distlist = GetDistricts.GetAllDistrics(); }
                                    @Html.DropDownListFor(u => u.adr_district, distlist.Select(u => new SelectListItem { Text = u.district1, Value = u.id.ToString() }), "Выберите район")
                                    @Html.ValidationMessageFor(u => u.adr_district)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.adr_street)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(u => u.adr_street, Enumerable.Empty<SelectListItem>(), "Выберите улицу")
                                    @Html.ValidationMessageFor(u => u.adr_street)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.adr_house)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(u => u.adr_house, Enumerable.Empty<SelectListItem>(), "Выберите номер дома")
                                    @Html.ValidationMessageFor(u => u.adr_house)
                                </div>
                                <br />
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div>
                            <!--id="getinline">-->
                            <!--ПРЕДСТАВИТЕЛИ-->
                            <fieldset id="step3" name="step3">
                                <legend>Информация о представителях:</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_type)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(u => u.pr_type, new SelectList(Users.GetPrTypes(), "Value", "Text"), "")
                                    @Html.ValidationMessageFor(u => u.pr_type)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_last_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_last_name)
                                    @Html.ValidationMessageFor(u => u.pr_last_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_first_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_first_name)
                                    @Html.ValidationMessageFor(u => u.pr_first_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_third_name)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_third_name)
                                    @Html.ValidationMessageFor(u => u.pr_third_name)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_series_doc)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_series_doc)
                                    @Html.ValidationMessageFor(u => u.pr_series_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_number_doc)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_number_doc)
                                    @Html.ValidationMessageFor(u => u.pr_number_doc)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.pr_date_issue)
                                </div>
                                <div class="editor-field">
                                    @Html.TextBoxFor(u => u.pr_date_issue, new { @id = "datepicker3" })
                                    @Html.ValidationMessageFor(u => u.pr_date_issue)
                                </div>
                                <br />
                            </fieldset>
                        </div>
                    </li>
                    <li>
                        <div style="margin-bottom: 100px;">
                            <!--id="getinline">-->
                            <!--ДЕТСКИЕ САДЫ-->
                            <fieldset id="step4" name="step4">
                                <legend>Информация о детских садах:</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.year_enter)
                                </div>
                                <div class="editor-field">
                                    @Html.DropDownListFor(u => u.year_enter, Enumerable.Empty<SelectListItem>(), "Выберите год поступления")
                                    @Html.ValidationMessageFor(u => u.year_enter)
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.during_year_offer)
                                </div>
                                <div class="editor-field">
                                    @Html.CheckBoxFor(u => u.during_year_offer)
                                    @Html.ValidationMessageFor(u => u.during_year_offer)
                                </div>
                                <legend>Главные ДОУ</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.dou_district)
                                </div>
                                <div class="editor-field">
                                    @{ var doudistlist = GetDistricts.GetAllDistrics(); }
                                    @Html.DropDownListFor(u => u.dou_district, doudistlist.Select(u => new SelectListItem { Text = u.district1, Value = u.id.ToString() }), "Выберите район")
                                    @Html.ValidationMessageFor(u => u.dou_district)
                                </div>
                                <div id="main" hidden="true">
                                    <div class="editor-label">
                                        @Html.LabelFor(u => u.main_dou)
                                    </div>
                                    <div class="editor-field">
                                        @Html.ListBoxFor(u => u.main_dou, Enumerable.Empty<SelectListItem>())
                                        @Html.ValidationMessageFor(u => u.main_dou)
                                    </div>
                                </div>
                                <legend>Дополнительные ДОУ</legend>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.dou_district2)
                                </div>
                                <div class="editor-field">
                                    @{ var doudistrictlist = GetDistricts.GetAllDistrics(); }
                                    @Html.DropDownListFor(u => u.dou_district2, doudistrictlist.Select(u => new SelectListItem { Text = u.district1, Value = u.id.ToString() }), "Выберите район")
                                    @Html.ValidationMessageFor(u => u.dou_district2)
                                </div>
                                <div id="another" hidden="true">
                                    <div class="editor-label">
                                        @Html.LabelFor(u => u.another_dou)
                                    </div>
                                    <div class="editor-field">
                                        @Html.ListBoxFor(u => u.another_dou, Enumerable.Empty<SelectListItem>())
                                        @Html.ValidationMessageFor(u => u.another_dou)
                                    </div>
                                </div>
                                <div class="editor-label">
                                    @Html.LabelFor(u => u.privilege)
                                </div>
                                <div class="editor-field">
                                    @{ var privilegelist = Privelege.GetAllPriveleges(); }
                                    @Html.DropDownListFor(u => u.privilege, privilegelist, new { style = "width:300px;" })
                                    @Html.ValidationMessageFor(u => u.privilege)
                                </div>
                                <br />
                                <input type="submit" value="Встать в очередь" />
                            </fieldset>
                        </div>
                    </li>
                </ul>
                }
            }
            else
            {
                <p>
                    Для подачи заявления на постановку ребенка на учет в детский сад необходимо авторизоваться.</p>
                <p>@Html.ActionLink("Войдите", "LogOn", "Account") в свой аккаунт или
                    <br />
                    @Html.ActionLink("зарегистрируйтесь", "Register", "Account")</p>
            }
        </div>
    </div>
</div>
