@using System.Collections
@{
    ViewBag.Title = "Электронная очередь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pages">
  <h2>Pages</h2>
    <ul>
        <li class="active">@Html.ActionLink("Главная страница", "Index", null, new {id ="page1"})</li>
        <li>@Html.ActionLink("Встать в очередь", "GetInLine", null, new { id = "page2" })</li>
        <li>@Html.ActionLink("Дети в очереди", "Details", null, new { id = "page3" })</li>
        <li>@Html.ActionLink("Вопросы и ответы", "FAQ", null, new { id = "page4" })</li>
        @Html.Partial("_AdminPartial")
    </ul>
</div>
<div id="content">
    <div id="colOne">
        <div id="latest-post">
            <h2 class="title">
                Выберите действие:</h2>
            <div class="story">
                <p>
                    Функция <em><strong><a href="#">Встать в очередь</a></strong></em> предназначена для подачи заявления в
                     детское образовательное учреждение</p>
                <p>
                    Функция <em><strong><a href="#">Дети в очереди</a></strong></em> предназначена для проверки
                    текущего положения всех зарегистрированных с Вашего аккаунта детей в очереди в ДОУ</p>
            </div>
        </div>
        @Html.Partial("_KidsPartial")
        <div style="clear: both; height: 1px;">
        </div>
    </div>
</div>
